body{
	text-align: center;
	background: #3b5670;
	font-family: sans-serif;
	font-weight: 100;
}

h1{
	color: #ffffff;
	font-weight: 100;
	font-size: 12vh;
	margin: 40px 0px 40px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30vh;
}

#clockdiv > div{
	border-radius: 1vh;
	padding: 3vh;
	background: rgb(0, 56, 161);
	display: inline-block;
}

#clockdiv div > span{
	border-radius: 1vh;
	padding: 2vh;
	background: #002c70;
	display: inline-block;
}

.smalltext{
	padding-top: 3vh;
	font-size: 6vh;
}
